body {
  font: normal normal 18px Arvo;
  color: #666666;
  background: #ffffff none no-repeat scroll center center;
  padding: 0 0 0 0;
}

.largerfont {
  font: normal normal 22px Arvo;
}

h2 {
  margin: 0 0 1em 0;
  font: normal bold 42px Fontdiner Swanky;
  color: #000000;
}